flask
flask-cors
flask-sqlalchemy
sqlalchemy
numpy
pandas
scikit-learn==1.6.1
joblib
textstat
torch
transformers
tokenizers
sentencepiece
regex
safetensors
tqdm
google-genai
google-ai-generativelanguage
protobuf
grpcio
grpcio-status
gunicorn
psycopg2-binary
requests
python-dotenv

