flask
flask-sqlalchemy
sqlalchemy
gunicorn
psycopg2-binary

numpy
pandas
scikit-learn
joblib
textstat

torch
transformers
tokenizers
sentencepiece
regex
safetensors
tqdm

google-genai
google-ai-generativelanguage
protobuf
grpcio
grpcio-status

requests
python-dotenv